---
import { Icon } from 'astro-icon/components';
const { iconName, intro, phrase } = Astro.props;
---

<section class='bg-blue-50 dark:bg-slate-800 not-prose'>
  <div class='max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium'>
    <span class='font-bold'>
      <Icon name=`tabler:${iconName}` class='w-5 h-5 inline-block align-text-bottom' /> {intro}</span
    >
    <span class='italic tracking-wider leading-relaxed'>
      {phrase}
    </span>
  </div>
</section>
