---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getBlogPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Melder Magnifique',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join newsletter',
        href: '#',
        icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/success-unsplash.jpeg',
      alt: 'Man with outstretched arms facing sunset',
    }}
  >
    <Fragment slot='title'>
      <span class='text-accent dark:text-blue-600 highlight tracking-normal'>Melder Magnifique</span>
      <span class='hidden sm:block sm:mb-8'>Unlock your true potential</span>
    </Fragment>

    <Fragment slot='subtitle'>
      <span class='leading-9 tracking-normal'>
        We empower you with content and resources designed to elevate your <a href='/' class='hp-anchor'>mind</a>, <a
          href='/'
          class='hp-anchor'>body</a
        >, and <a href='/' class='hp-anchor'>spirit</a>. Dive into expert <a href='/' class='hp-anchor'>wisdom</a>,
        optimize your <a href='/' class='hp-anchor'>health</a>, and build lasting <a href='/' class='hp-anchor'
          >wealth</a
        >.
      </span>
      <!-- <span class='block mb-1 sm:hidden font-bold text-blue-600'>
        Melder<br />
        / ˈmɛl dər / • <em>noun</em><br /></span
      ><span
        class='block mb-1 sm:hidden font-bold text-black leading-tighter tracking-tighter font-heading dark:text-gray-200'
        >1. One who melds.</span
      > -->
      <br />
      <br />
      <span class='font-semibold mb-2'>Achieve holistic success and become your best.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note iconName='book' intro='Our philosophy:' phrase='Meld the life you want.' />

  <!-- Features Widget *************** -->

  <Features
    id='features'
    tagline='Melder Magnifique'
    title='What you get with us'
    subtitle='One of the most unique & comprehensive digital media platforms that offer content & community.'
    items={[
      {
        title: 'Comprehensive Self-Improvement Resources',
        description:
          'Access a wide range of resources covering personal growth, self-help techniques, and holistic development.',
        icon: 'tabler:star',
      },
      {
        title: 'Interactive Learning Modules',
        description: 'Engage with interactive modules designed to facilitate learning, growth, and skill enhancement.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Expert-Led Workshops',
        description:
          'Participate in workshops led by industry experts, offering insights, strategies, and practical advice for personal and professional advancement.',
        icon: 'tabler:users',
      },
      {
        title: 'Community Support and Networking',
        description:
          'Connect with like-minded individuals, share experiences, and collaborate on mutual goals within a supportive community environment.',
        icon: 'tabler:network',
      },
      {
        title: 'Customizable Learning Paths',
        description:
          'Create personalized learning paths tailored to your individual needs, interests, and aspirations, enabling focused growth and development.',
        icon: 'tabler:route',
      },
      {
        title: 'Actionable Insights and Feedback',
        description:
          'Receive actionable insights and feedback from mentors, coaches, and peers, empowering you to track progress and make informed decisions on your journey of self-improvement.',
        icon: 'tabler:graph',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline='Inside Melder Magnifique'
    title='<span class="text-accent dark:text-blue-600 highlight">Melder Blueprint</span>: The Triangle of Success'
    items={[
      {
        title: 'Wisdom',
        description:
          'From practical tips to profound insights, embark on a journey of personal growth and enlightenment.',
      },
      {
        title: 'Health',
        description:
          'Elevate your well-being and cultivate a vibrant lifestyle that fuels your body with energy and vitality.',
      },
      {
        title: 'Wealth',
        description:
          'From cultivating gratitude to fostering inner peace, embark on a journey of self-discovery and unlock the infinite potential within you.',
      },
    ]}
    image={{
      src: 'https://cdn.meldermagnifique.com/images%2Fknowledge-unsplash-min.jpeg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>Built on timeless principles</h3>
      Approach life with a holistic view, geared for sustainable success.
    </Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-transparent'></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Blog',
        description: `We offer blog articles on various topics.`,
      },
      {
        title: 'Forum',
        description: 'Sign up with us and join to contribute to our discussions.',
      },
      {
        title: 'Videos',
        description: 'We reguarly upload videos for you to watch & share with your friends.',
      },
      {
        title: 'Podcasts',
        description: `Check out our latest episodes of "The Melding Pot"!`,
      },
    ]}
    image={{
      src: 'https://cdn.meldermagnifique.com/images%2Faccess-unsplash-min.jpeg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot='content'>Access what you want, when you want.</Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-transparent'></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot='content'>Designed to foster growth and success.</Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-transparent'></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title='Get your dream website up and running in no time with AstroWind.'
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title='Most used widgets'
    subtitle='Provides frequently used components for building websites using Tailwind CSS'
    tagline='Components'
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-transparent'></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title='Explore our blog content'
    information={`The blog is used to display articles on various topics, ranging from Finance, Fitness, Education, Books, Business, Health, Spirituality, Philsophy, and more!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title='Frequently Asked Questions'
    subtitle=''
    tagline='FAQs'
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is Melder Magnifique?',
        description:
          'Melder Magnifique was created as a resource for those wanting more out of life, in terms of knowledge, growth, and wisdom.',
      },
      {
        title: 'Where is Melder Magnifique',
        description: `We're based in New Orleans, Louisiana. However, thanks to the internet, our platform can be accessed globally.`,
      },
      {
        title: 'Why Melder Magnifique?',
        description: 'Our why is simple, to inspire and precipitate change for the greater good.',
      },
      {
        title: `Who's behind Melder Magnifique?`,
        description:
          'Melder Magnifique is built and operated by <a class="text-blue-600 underline dark:text-muted" href="https://www.linkedin.com/in/theodore-melder/">Theodore Melder</a>, colloquially known as <a class="text-blue-600 underline dark:text-muted" href="https://twitter.com/mrteddyrockwell/">Teddy Rockwell</a>.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Connections (Linkedin)', amount: '1K+' },
      { title: 'Websites Built & Maintained', amount: '20+' },
      { title: 'Experience (Years)', amount: '3+' },
      { title: 'Customer Satisfaction', amount: '100%' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Check out our blog',
        href: getBlogPermalink(),
        icon: 'tabler:news',
      },
    ]}
  >
    <Fragment slot='title'>
      Melder&nbsp;&nbsp;<br class='block sm:hidden' /><span class='sm:whitespace-nowrap'>Magnifique</span>
    </Fragment>

    <Fragment slot='subtitle'>
      Our numbers are modest but our content is golden.<br class='hidden md:inline' /> Want a peek?
    </Fragment>
  </CallToAction>
</Layout>
