---
import { SITE } from 'astrowind:config';
---

<span
  class='self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white'
>
  <div class='flex flex-row items-center'>
    <div
      id='logo'
      class='w-12 h-12 bg-image-default dark:bg-image-dark hover:bg-image-hover dark:hover:bg-image-hover bg-cover'
    >
    </div>
    <span class='ml-2'>{SITE?.name}</span>
  </div>
</span>
