---
// TableOfContents.astro
import TableOfContentsHeading from './TableOfContentsHeading.astro';
import { Icon } from 'astro-icon/components';
interface Heading {
  depth: number;
  value: string;
  slug: string;
  subheadings?: Heading[];
}

const { headings } = Astro.props;

function buildToc(headings: Heading[]): Heading[] {
  const toc: Heading[] = [];
  const parentHeadings = new Map<number, Heading>();
  headings.forEach((h) => {
    const heading: Heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1)?.subheadings?.push(heading);
    }
  });
  return toc;
}

const toc = buildToc(headings);
---

<div class='toc-container'>
  <div class='toc-tagline-container flex justify-between mb-2.5'>
    <div class='tagline uppercase font-semibold'>Inside This Article</div>
    <div class='toc-back-to-top'>
      <Icon
        name='tabler:arrow-big-up-lines-filled'
        class='w-6 h-6 inline-block -mt-0.5 dark:text-gray-400 hover:cursor-pointer'
      />
    </div>
  </div>
  <div class='toc-progress-bar'><div></div></div>
  <nav class='toc'>
    <ul>
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</div>

<style>
  .toc-progress-bar {
    height: 4px;
    background: lightgray;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .toc-progress-bar div {
    height: 100%;
    background: var(--aw-color-primary);
    width: 0;
    @apply dark:bg-accent;
  }
  .toc ul {
    list-style-type: none;
    padding: 0;
  }
  .toc li {
    margin-bottom: 10px;
  }
  .toc a {
    text-decoration: none;
    color: gray;
    padding: 0.25rem 0.5rem;
    display: block;
  }
  .toc a:hover,
  .toc a.active {
    color: black;
    text-decoration: underline;
    @apply dark:text-white;
  }
</style>
<script src='./scripts/toc.js'></script>
