---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug} class={`toc-link ${heading.depth === 3 ? 'toc-link-level-2' : ''}`}>
    {heading.value}
  </a>
  {
    heading.subheadings && heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
  .toc-link-level-2 {
    padding-left: 10px;
    border-left: 3px solid #ddd;
    font-weight: 400;
  }
  .toc-link-level-2.active,
  .toc-link-level-2:hover {
    border-left-color: var(--aw-color-primary);
    text-decoration: underline;
    @apply dark:border-l-accent;
  }
  .toc-link {
    color: gray;
  }
  a.toc-link {
    font-weight: 600;
  }
  li {
    margin: 0.275rem 0;
  }
  a.toc-link.toc-link-level-2 {
    font-weight: 400;
  }
  .toc-link:hover,
  .toc-link.active {
    color: black;
    text-decoration: underline;
    @apply dark:text-white;
  }
</style>
