---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<!-- 
<li class='list-none list-inside px-1 py-1'>
  <a href={'#' + heading.slug} class='hover:text-red-500 font-semibold text-md'>
    {heading.value}
  </a>
  {
    heading.children.length > 0 && (
      <ul class='text-blue-500 ml-2'>
        {heading.children.map((child) => (
          <Astro.self heading={child} />
        ))}
      </ul>
    )
  }
</li> -->
<li class=''>
  <a href={'#' + heading.slug} class='toc-link'>
    {heading.value}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class='toc-sublist'>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
<style>
  nav.toc {
    display: block;
    position: sticky;
    top: 0.5rem;
    padding-left: 1rem;
  }

  ul {
    list-style-type: none;
    padding-left: 1rem;
  }

  svg.toc-progress {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  path.toc-marker {
    /* stroke: #ff6347; Change this to your desired color */
    stroke: var(--aw-color-accent);
    stroke-width: 4px; /* Adjust this to change the thickness */
    fill: none;
    transition: stroke-dasharray 0.3s ease;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.25rem 0.5rem;
  }

  a:not(.active) {
    color: #899;
  }
</style>

<!-- <script src='./scripts/toc-active.js'></script> -->
